html, body {
    background: rgb(240,240,240);
    color: rgba(0,0,0,0.8);
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

#render-canvas {
    height: 100%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    z-index: 1;
}

#ui {
    padding: 40px;
    position: relative;
    z-index: 2;
}
